{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Login {% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}

{% block header %}
{% endblock header %}

{% block menu %}
{% endblock menu %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-5 hidden-xs hidden-sm">
      <img src="{% static 'img/logo.png' %}" alt="" class="center-block space-top" />
    </div>

    <div class="col-md-1 hidden-xs hidden-sm">
      <div class="border-login"></div>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-4">
      <div class="space-top">

        <h3 class="text-center">/mãoaberta</h3>

        <form class="form-signin" class="form-horizontal">
          <label class=""> Usuário </label>

          <input type="text" class="form-control" placeholder="" required autofocus>

          <label class=""> Senha </label>
          <input type="password" class="form-control" placeholder="" required>

          <button class="btn btn-lg btn-primary btn-block" type="submit">
            Entrar
          </button>

          <p class="text-center">Ainda não tenho, conta! Quero <a href="#">criar</a> agora mesmo!</p>
        </form>
      </div><!--space-top-->
    </div><!--col-sm-12-->
  </div><!--row-->
</div>
{% endblock content %}
